# Default ignored files
/../../ASSIGNMENT./.idea/shelf/
/../../ASSIGNMENT./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ASSIGNMENT./.idea/httpRequests/
# Datasource local storage ignored files
/../../ASSIGNMENT./.idea/dataSources/
/../../ASSIGNMENT./.idea/dataSources.local.xml
